.select-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 5px;
}

.select-dropdown {
  min-width: 200px;
  max-width: 350px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.select-label {
  font-size: 15px;
  margin-bottom: 5px;
}